.container{
    border: 1px solid black;
}

.header{
    height: 40px;
    width: 100%;
    color:white;
    background-color:#070707;
    text-align: center;
    font-size: 26px;
}
.sideBar{
    width: 15%;
    height: 1330px;
    align-content: center;
    background-image: url("./images/latin-america-population.png");
    background-size: contain;
}
.mainContainer{
    display:flex;
}
.main{
    width: 85%;
    height: 70%;
    background-color: lightgrey;
    background-image: url("./images/population-hi.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    text-align: center;
    font-size: 26px;
    
}
.buttons{
    border-radius: 10px;
    color: palevioletred;
    position: center;
    background-color: black;
    margin: 5px;
    border: 5px solid white;
    padding: 5px;
    font-size: 24px;
    
}
.logo{
    width:5%;
    height: 80%;
}